---
import "./src/styles/global.css" 
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LocalPostLinkCard from '../components/LocalPostLinkCard.astro';
import githubLogo from '../assets/github.png';
import xLogo from '../assets/x.png';
import type { Ogp } from '../types/Ogp';
import { DEFAULT_THUMBNAIL } from '../util/const';
import type { Frontmatter } from '../types/Frontmatter';

const { url } = Astro.props;
const ogp:Ogp = {
    title: "息絶えた雑記",
    description: "息絶えた雑記",
    thumbnail: DEFAULT_THUMBNAIL,
    url: url,
    pageType: "website"
}


const allPosts = (await Astro.glob<Frontmatter>('../pages/posts/*.md')).sort((a, b) => {
    const aDate = new Date(a.frontmatter.pubDate);
    const bDate = new Date(b.frontmatter.pubDate);
    return bDate.getTime() - aDate.getTime();
});
const showPosts = allPosts.length <= 5 ? allPosts : allPosts.slice(0, 5);
---

<html lang="ja">
    <Head ogp={ogp} />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <Header />
        <main class="container mx-auto flex-grow
            prose-a:text-blue-600 hover:prose-a:underline
        ">
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="flex justify-center my-40">
                    <h1 class="md:text-7xl text-nord-1 font-normal text-5xl">息絶えた雑記</h1>
                </div>
                <div class="flex flex-col justify-center my-28 leading-relaxed">
                    <h1 class="md:text-4xl text-3xl mx-auto mb-10">このサイトについて</h1>
                    <p class="md:text-2xl text-lg">思いつくままに何かを書きます。</p>
                    <p class="md:text-2xl text-lg">やる気次第で、技術やゲームの感想記事などが追加されていく予定。</p>
                </div>
                <div class="text-2xl flex flex-col justify-center my-28 leading-relaxed">
                    <h1 class="md:text-4xl text-3xl mx-auto mb-10">最新の記事</h1>
                    {showPosts.map((post) =>
                        <div class="my-2">
                            <LocalPostLinkCard frontmatter={post.frontmatter} url={post.url!} markdownText={post.rawContent()} />
                        </div>
                    )}
                    <div class="flex justify-center mt-3 mb-10">
                        <button  onclick="location.href='/posts'" class="bg-nord-4 text-nord-1 hover:bg-nord-3 hover:text-nord-6 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">もっと見る</button>
                    </div>
                    <h2 class="text-2xl font-bold mx-auto mt-5">Link</h2>
                    <div class="flex mx-auto mt-5 prose-a:w-8 prose-a:mx-2">
                        <a href="https://x.com/yadonantoka" class="mt-1"><img src={xLogo.src} alt="X リンク" /></a>
                        <a href="https://github.com/wgdp" class="mt-1"><img src={githubLogo.src} alt="GitHub リンク" /></a>
                        <a href="https://profile.wgdp.dev" class="w-10">
                            <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
	</body>
</html>
