---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Toc from '../components/Toc.astro';
import type { Props } from '../types/Props';
import type { Ogp } from '../types/Ogp'
import { getImageOrDefault } from '../util/image';
import removeMarkdown from 'remove-markdown';
import ContentLayout from './ContentLayout.astro';

const { frontmatter, url, rawContent, headings } = Astro.props;

const pattern = new RegExp('::[a-zA-Z0-9_]+\{([^{}]*)\}');
const rawContentText = rawContent()
const markdownText = removeMarkdown(rawContentText).replace(pattern, '')
const ogp:Ogp = {
    title: frontmatter.title,
    description: (markdownText.length <= 70 ? markdownText : markdownText.slice(0, 69)) + '...',
    thumbnail: getImageOrDefault(frontmatter.thumbnail),
    url: url,
    pageType: "article"
}
---

<html lang="ja">
    <Head ogp={ogp} />
    <body class="antialiased bg-white text-nord-0 flex flex-col min-h-screen">
        <main class="flex-grow">
            <Header />
            <div class="mx-auto w-full px-6 xs:px-7 sm:px-10 max-w-screen-md">
                <div class="pt-28">
                    <div class="grid grid-cols-1 justify-center">
                        <div><img class="h-fit w-fit m-auto rounded-xl" src={getImageOrDefault(frontmatter.thumbnail)} alt="サムネイル"></div>
                        {frontmatter.imageLicense && <div class="text-nord-1 text-[10px]">Image © {frontmatter.imageLicense.author} licensed under the <a class="text-nord-9 underline" href={frontmatter.imageLicense.link}>{frontmatter.imageLicense.license}</a>.</div>}
                    </div>
                </div>
                <div class="mt-20 mb-5">
                    <h1 class="md:text-4xl text-3xl font-black text-nord-2">{frontmatter.title}</h1>
                </div>
                <div class="my-2">
                    <span>{rawContentText.length}文字</span>
                </div>
                <div class="mb-10">
                    {
                        frontmatter.tags.map((tag) => <span class="inline-flex items-center rounded-xl bg-nord-4 mx-1 px-2 py-1 text-xs font-medium">{tag}</span>)
                    }
                </div>
                <Toc headings={headings} />
                <ContentLayout>
                    <slot />
                </div>
                </ContentLayout>
            </div>
        </main>
        <Footer />
    </body>
</html>
